<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body class="container d-flex flex-column align-items-center mt-5">
    <h1 class="mb-3">File Share</h1>
    <p class="mb-5 text-center" style="width: 600px;">A file sharing application using the web. This also includes password protected files and download count tracker. Technologies used to make this are : Node.js and MongoDB</p>
    <% if(locals.fileLink != null) { %>
        <div class="mb-3">
            <hr>
            Your file is uploaded to : <a href="<%= locals.fileLink %>"><%= locals.fileLink %></a>
            <hr>
        </div>
    <% } %> 
    <form
    enctype="multipart/form-data"
    action="/upload"
    method="post"
    >
        <label class="form-label" for="file">File:</label>
        <input type="file" id="file" name="file" required class="form-control" >

        <label class="form-label mt-3" for="password">Password:</label>
        <input type="password" id="password" name="password" class="form-control">

        <button type="submit" class="btn btn-primary mt-3">Submit</button>
    </form>
</body>
</html>